.CakeLayer {
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  position: relative;

  z-index: 2;
  border: 1px solid #00000026;
}
.CakeLayer .design {
  height: 100%;
  background-size: contain;
}

.CakeLayer.moonlight-vanilla {
  background-color: beige;
}
.CakeLayer.chocolate-dragon-fire {
  background-color: maroon;
}

.CakeLayer.stardust-strawberry {
  background-color: palevioletred;
}

.CakeLayer.magical-marshmallow {
  background-color: aquamarine;
}

.CakeLayer.fairy-berry {
  background-color: purple;
}
