.Cake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #f6d2d9;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  margin-bottom: 60px;
}
img {
  width: 300px;

  z-index: 1;
}
