.Cake {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  margin: 0;
}
.Cake .cake-platter {
  width: 24vw;
  z-index: 1;
}

.cake-platter {
  width: 280px;
  margin-top: 0;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .Cake {
    width: 100%;
    height: 40vh;
  }
  .Cake .cake-platter {
    width: 30vw;
  }
}
