.Cake {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: pink;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  margin-bottom: 60px;
}
.Cake .cake-platter {
  width: 24vw;
  z-index: 1;
}

@media only screen and (max-width: 480px) {
  .Cake {
    width: 100%;
    height: 40vh;
  }
  .Cake .cake-platter {
    width: 30vw;
  }
}
