.Instructions {
  position: fixed;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  background-color: #9370db;
  z-index: 3;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
h2.instruct {
  color: white;
  font-weight: 400;
}

ul.steps {
  font-family: "Playwrite PL", cursive;
  list-style-type: none;
  font-weight: 500;
  color: white;
  font-size: 15px;
}

button.closeBtn {
  position: relative;
  top: 90px;
  left: 115px;
  z-index: 4;
  background-color: darkorchid;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Playwrite PL", cursive;
}

@media only screen and (max-width: 480px) {
  button.closeBtn {
    position: absolute;
    top: 155px;
    left: 65px;
    padding: 10px;
  }
  div.Instructions {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 130px;
  }
  ul.steps {
    height: 100%;
    width: 100%;
    font-size: 20px;
  }
  h2.instruct {
    font-size: 45px;
  }
}
