.LayerAdd {
  background-color: #ffffffcc;
  border-radius: 20px;
  height: 185px;
  width: 250px;
  margin: 20px;
  text-align: center;
  font-size: 15px;
  font-family: "Playwrite PL", cursive;
  color: #9370db;
}

.LayerAdd .add-layer {
  padding: 8px;
  position: relative;
  top: 5em;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .LayerAdd {
    width: auto;
  }
}
