.Container {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #fff5ee;
  font-family: "Sacramento", cursive;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #9370db;
  letter-spacing: 3px;
}

h2 {
  font-size: 2.5rem;
  color: #9370db;
  text-align: center;
}

button {
  background-color: #9370db;
  border: 0;

  color: white;
  font-family: inherit;
}
